html, body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	background-color: #E5E5E5;
}

html {
	overflow-x: hidden
}

.btn-pesquisar-produto {
    width: 110px;
    background-color: #5C8997;
    color: #F11212;
    padding: 10px 20px;
    margin: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;

}

.div-lista {
	width: 90%;
	height: 350px;
	border-radius: 5px;
	background-color: #FFFFFF;
	margin-left: 5%;
}

h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

table {
	width: 100%;
	table-layout: fixed;
}

.tbl-content {
	height: 350px;
	overflow-x: auto;
	margin-top: 1%;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

td {
	padding: 8px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 12px;
	color: black;
}

/* demo styles */
section {
	margin-top: 20px;
}

/* follow me template */
.made-with-love i {
	font-style: normal;
	color: #F50057;
	font-size: 14px;
	position: relative;
	top: 1px;
}

.made-with-love a {
	color: #fff;
	text-decoration: none;
}

.made-with-love a:hover {
	text-decoration: underline;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-input-placeholder {
	color: black;
	font: 12px verdana, arial, sans-serif;
}

a:LINK {
	color: black;
	font: 12px verdana, arial, sans-serif;
	text-decoration: none;
}

#myInput {
	background-position: 10px 12px;
	background: #F8FCFC;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	width: 40%;
	color: black;
	font-size: 12px;
	padding: 9px 20px 9px 10px;
	text-transform: uppercase;
	margin-bottom: 7px;
	margin-left: 5%;
}

.input-usuario {
	padding: 4px;
	margin: 3px 0;
	font-size: 15px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	background: #F8FCFC;
}

.p-produto {
	margin-left: 5%;
}
