html, body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-color: #E5E5E5;
}

html {
	overflow-x: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #C4C4C4;
	border-radius: 1px;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #C4C4C4;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 10px 8px 16px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #C4C4C4
}

.dropdown:hover .dropdown-content {
	display: block;
}
