html,body{font-family:Verdana,sans-serif;font-size:12px;line-height:1.5}html{overflow-x:hidden}
body {
	background-color: #E5E5E5;
 
}

.input-produto {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background: #F8FCFC;
}

.input-produto-area {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    width:100px;
	height:100px;
    background: #F8FCFC;
    
}

.btn-salvar-produto {
    width: 110px;
    background-color: #5C8997;
    color: #F11212;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;

}

.btn-cancelar-produto {
    width: 110px;
    background-color: #FF8F96;
    color: #F4FFFF;
    padding: 10px 20px;
    margin: 10px 100px;
    border: none;
    border-radius: 40px;
    cursor: pointer;

}

.div-externa-produto {
	width:430px;
	height:256px;
    border-radius: 5px;
    background-color: #E5E5E5;
    padding: 20px;
	margin-left:35%;
	margin-top:80px;
}
x
.p-produto{
	margin-top:-9px;

}

.container {
	text-align: center;
	width:100%;
	border-radius: 5px;
    background-color: #C4C4C4;
	padding: 8px;
	margin-top:16%;
}