html, body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	overflow-x: hidden;
	background-color: #E5E5E5;
}

.input-usuario {
	padding: 4px;
	margin: 3px 0;
	font-size: 15px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	background: #F8FCFC;
}

.btn-salvar-usuario {
    width: 110px;
    background-color: #5C8997;
    color: #F11212;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;

}

.btn-cancelar-usuario {
    width: 110px;
    background-color: #FF8F96;
    color: #F4FFFF;
    padding: 10px 20px;
    margin: 10px 100px;
    border: none;
    border-radius: 40px;
    cursor: pointer;

}

.div-externa-usuario {
	width: 430px;
	height: 250px;
	border-radius: 5px;
	background-color: #E5E5E5;
	padding: 20px;
	margin-left: 35%;
	margin-top: 100px;
}

x
.p-usuario {
	margin-top: -9px;
}

.container {
	text-align: center;
	width: 100%;
	border-radius: 5px;
	background-color: #C4C4C4;
	padding: 8px;
	margin-top: 15%;
}